* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body,
#root {
  height: 100%;
  background: #120e1c;
}

body {
  font-family:
    'Inter',
    -apple-system,
    BlinkMacSystemFont,
    sans-serif;
}

* {
  font-family:
    'Inter',
    -apple-system,
    BlinkMacSystemFont,
    sans-serif !important;
}
